<div class="jumbotron">

  <div class="container">
      <div class="row">
          <div class="col-md-8 col-md-offset-2">
              <div class="login-panel panel panel-default">
                  <div class="panel-heading">
                      <h3 class="panel-title">Fundo de caixa do condomínio</h3>
                  </div>
                  <div class="panel-body">

    <button type="button" ng-hide="showAddEditUser" ng-click="show()" class="btn  btn-primary  btn-lg  aw-btn-full-width">
       Atualizar o Caixa
        </button>

  <form ng-submit="saveCaixa(c)" ng-hide="!showAddEditUser">








   <div class="form-group">
        <label>Valor: </label>
        <div class="form-group input-group">
        <span class="input-group-addon">$</span>
             <input  class="form-control" type="text" placeholder="Valor" ng-model="c.valor "  required>
             <span class="input-group-addon">.00</span>
       </div>

     </div>



     <button  class="btn btn-success btn-s"   type="submit">
            <span class="glyphicon glyphicon-upload"></span> Salvar </button>
                  <button type="reset"  class="btn btn-danger btn-s">
               <span class="glyphicon glyphicon-trash"></span>Limpar Nome</button>
         <button type="button" value="Voltar" onClick="history.go(-1)" class="btn btn-danger btn-s">Voltar </button>
           <button type="button" class="btn btn-success btn-s"  ng-click="hide()">Cancel</button>

  </form>
  <br><br>

  <div class="row">
                   <div class="col-lg-30">

                       <div class="table-responsive">
                           <table class="table table-bordered table-hover table-striped">
         <thead>
            <tr>

               <th>Valor atual</th>
               <th>Data e Hora da atualização</th>
                <th>Gerente do caixa</th>


               <th>Editar</th>
               <th>Deletar</th>

        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="c in cs" class="active">


          <td>{{ c.valor }}</td>
          <td>{{ c.registerDate | date : "dd/MM/yyyy 'as' h:mma"  }}</td>
          <td>{{ c.gerente.name}}</td>       

          <td><button ng-click="editCaixa(c)" class="btn btn-success btn-s"><span class="glyphicon glyphicon-ok"></span></button></td>
          <td><button ng-click="deleteCaixa(c)" class="btn btn-danger btn-s"><span class="glyphicon glyphicon-trash"></span></button></td>

        </tr>
      </tbody>
    </table>
  </div>
</div>
